OS_IMAGE_FILE="${HOME}/openSUSE-Leap-15.5.x86_64-NoCloud.qcow2"
VM_ARCH="x86_64"
VM_NETWORK="testing"
VMFOLDER="/var/lib/libvirt/images"
VMNAME="testing"
CPUS=4
MEMORY=16384
DISKSIZE=30
#EXTRADISKS="30,10"
SSHPUB="${HOME}/.ssh/id_rsa.pub"
